{
  "openapi": "3.1.0",
  "info": {
    "title": "Workforce AI MCP API",
    "description": "MCP (Model Context Protocol) API for Workforce AI — policy management, asset visibility, and apps catalog optimized for LLM tool consumption.\n\n## Authentication\nAll endpoints require a valid CloudInfra JWT token passed as a Bearer token in the `Authorization` header.\n\n### Obtaining a JWT Token\n1. Go to the [Infinity Portal API Keys page](https://portal.checkpoint.com/dashboard/settings/api-keys).\n2. Click **New** → **New Account API Key**.\n3. In the **Service** dropdown select **Workforce AI Security** and create the key.\n4. Use the generated API key to obtain a JWT token from CloudInfra.\n5. Include the JWT in every request:\n   ```\n   Authorization: Bearer <JWT_TOKEN>\n   ```\n\n## Tool Access Modes\nEach operation is annotated with `x-access-mode` (read or write). The MCP server can be configured to expose only read tools by default.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cloudinfra-gw.portal.checkpoint.com",
      "description": "Europe Region"
    },
    {
      "url": "https://cloudinfra-gw-us.portal.checkpoint.com",
      "description": "United States Region"
    }
  ],
  "paths": {
    "/app/genai-protect-policy/mcp/v1/policy/chats/rulebase": {
      "get": {
        "tags": [
          "MCP Policy Rules"
        ],
        "summary": "List all GenAI DLP chat rules",
        "operationId": "list_chats_rules_mcp_v1_policy_chats_rulebase_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRulebaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "list_chats_rules",
        "x-tool-description": "List all Chats (GenAI DLP) rules. Each rule defines data-loss-prevention policies for AI chat interactions including prompt/response inspection, sensitive-data detection, and file transfer controls. Returns rules ordered by priority.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-policy/mcp/v1/policy/ai-access/rulebase": {
      "get": {
        "tags": [
          "MCP Policy Rules"
        ],
        "summary": "List all AI Access rules",
        "operationId": "list_ai_access_rules_mcp_v1_policy_ai_access_rulebase_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRulebaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "list_ai_access_rules",
        "x-tool-description": "List all AI Access rules that control which AI services and applications users are allowed to interact with. Each rule specifies allow/block decisions per service. Returns rules ordered by priority.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-policy/mcp/v1/policy/web-access/rulebase": {
      "get": {
        "tags": [
          "MCP Policy Rules"
        ],
        "summary": "List all Web Access rules",
        "operationId": "list_web_access_rules_mcp_v1_policy_web_access_rulebase_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRulebaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "list_web_access_rules",
        "x-tool-description": "List all Web Access rules for Browse Security. These rules control which websites and web applications users can access through browser security. Returns rules ordered by priority.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-policy/mcp/v1/policy/agents/rulebase": {
      "get": {
        "tags": [
          "MCP Policy Rules"
        ],
        "summary": "List all Agents rules",
        "operationId": "list_agents_rules_mcp_v1_policy_agents_rulebase_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRulebaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "list_agents_rules",
        "x-tool-description": "List all Agents (MCP Server) rules that govern agent interactions. These rules control which tools agents can invoke and what access controls apply to agent operations. Returns rules ordered by priority.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-policy/mcp/v1/policy/secure-browsing/rulebase": {
      "get": {
        "tags": [
          "MCP Policy Rules"
        ],
        "summary": "List all Secure Browsing rules",
        "operationId": "list_secure_browsing_rules_mcp_v1_policy_secure_browsing_rulebase_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRulebaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "list_secure_browsing_rules",
        "x-tool-description": "List all Secure Browsing threat-prevention rules. These rules define phishing protection, password-reuse detection, and domain-based filtering for web browsing. Returns rules ordered by priority.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-policy/mcp/v1/policy/dlp/rulebase": {
      "get": {
        "tags": [
          "MCP Policy Rules"
        ],
        "summary": "List all Browse DLP rules",
        "operationId": "list_dlp_rules_mcp_v1_policy_dlp_rulebase_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRulebaseResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "list_dlp_rules",
        "x-tool-description": "List all Browse DLP (Data Loss Prevention) rules for browser security. These rules control data protection for web browsing sessions including file uploads, downloads, and clipboard operations. Returns rules ordered by priority.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/set-info": {
      "put": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Update a rule's name and description",
        "operationId": "set_rule_info_mcp_v1_rules_set_info_put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "UUID of the rule to update",
              "title": "Rule Id"
            },
            "description": "UUID of the rule to update"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "New human-readable name for the rule",
              "title": "Name"
            },
            "description": "New human-readable name for the rule"
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "New description of the rule's purpose",
              "default": "",
              "title": "Description"
            },
            "description": "New description of the rule's purpose"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Set Rule Info Mcp V1 Rules Set Info Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "set_rule_info",
        "x-tool-description": "Update the display name and description of a rule identified by its UUID. Does not change the rule's policy, assignments, or position.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/set-active": {
      "put": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Enable or disable a rule",
        "operationId": "set_rule_active_mcp_v1_rules_set_active_put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "UUID of the rule to update",
              "title": "Rule Id"
            },
            "description": "UUID of the rule to update"
          },
          {
            "name": "active",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean",
              "description": "true to enforce the rule, false to skip it",
              "title": "Active"
            },
            "description": "true to enforce the rule, false to skip it"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Set Rule Active Mcp V1 Rules Set Active Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "set_rule_active",
        "x-tool-description": "Enable or disable a rule without deleting it. Inactive rules remain in the rulebase but are skipped during policy evaluation. Pass active=true to enforce or active=false to skip.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/reorder": {
      "put": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Change a rule's priority position",
        "operationId": "reorder_rule_mcp_v1_rules_reorder_put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "UUID of the rule to reorder",
              "title": "Rule Id"
            },
            "description": "UUID of the rule to reorder"
          },
          {
            "name": "new_order",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "Target position (1-based). Lower = higher priority",
              "title": "New Order"
            },
            "description": "Target position (1-based). Lower = higher priority"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Reorder Rule Mcp V1 Rules Reorder Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "reorder_rule",
        "x-tool-description": "Move a rule to a new position in the rulebase. Lower positions have higher priority and are evaluated first. Other rules shift automatically to accommodate.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/delete": {
      "delete": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Permanently delete a rule",
        "operationId": "delete_rule_mcp_v1_rules_delete_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "UUID of the rule to delete",
              "title": "Rule Id"
            },
            "description": "UUID of the rule to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonDeleteRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "delete_rule",
        "x-tool-description": "Permanently delete a rule from the rulebase by its UUID. This action cannot be undone. Remaining rules are re-ordered automatically.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/chats/create": {
      "post": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Create a Chats DLP rule",
        "operationId": "create_chats_rule_mcp_v1_rules_chats_create_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddChatsRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "create_chats_rule",
        "x-tool-description": "Create a new Chats (GenAI DLP) rule. Provide a name, priority order, and a policy object defining prompt/response inspection, sensitive-data detection, and file transfer controls. Optionally assign to specific users or groups.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/ai-access/create": {
      "post": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Create an AI Access rule",
        "operationId": "create_ai_access_rule_mcp_v1_rules_ai_access_create_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAccessRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "create_ai_access_rule",
        "x-tool-description": "Create a new AI Access rule that controls which AI services and applications users can interact with. Provide a name, priority order, and a policy defining allow/block decisions per service.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/agents/create": {
      "post": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Create an Agents rule",
        "operationId": "create_agents_rule_mcp_v1_rules_agents_create_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMCPServerRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "create_agents_rule",
        "x-tool-description": "Create a new Agents (MCP Server) rule that governs agent interactions. Define which tools agents can invoke and access controls for agent operations.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/dlp/create": {
      "post": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Create a Browse DLP rule",
        "operationId": "create_dlp_rule_mcp_v1_rules_dlp_create_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddChatsRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "create_dlp_rule",
        "x-tool-description": "Create a new Browse DLP rule for data loss prevention during web browsing. Controls file uploads, downloads, and clipboard operations.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/secure-browsing/create": {
      "post": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Create a Secure Browsing rule",
        "operationId": "create_secure_browsing_rule_mcp_v1_rules_secure_browsing_create_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSecureBrowsingRuleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddRuleResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "create_secure_browsing_rule",
        "x-tool-description": "Create a new Secure Browsing threat-prevention rule. Define phishing protection, password-reuse detection, and domain-based filtering for web browsing.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/chats/set-policy": {
      "put": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Replace the entire policy of a Chats (DLP) rule",
        "operationId": "set_chats_policy_mcp_v1_rules_chats_set_policy_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetChatsPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Set Chats Policy Mcp V1 Rules Chats Set Policy Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "set_chats_policy",
        "x-tool-description": "Replace the entire policy configuration of a Chats rule (also known as 'Chats' in AI Security UI — POLICY_TYPE_DLP). Provide the complete policy object; all existing settings are overwritten.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/chats/patch-policy": {
      "patch": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Partially update the policy of a Chats (DLP) rule",
        "operationId": "patch_chats_policy_mcp_v1_rules_chats_patch_policy_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchChatsPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Patch Chats Policy Mcp V1 Rules Chats Patch Policy Patch"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "patch_chats_policy",
        "x-tool-description": "Deep-merge partial changes into a Chats rule's policy. Only the provided fields are updated; omitted fields remain unchanged. Useful for toggling a single setting.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/ai-access/set-policy": {
      "put": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Replace the entire policy of an AI Access rule",
        "operationId": "set_access_policy_mcp_v1_rules_ai_access_set_policy_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetAccessPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Set Access Policy Mcp V1 Rules Ai Access Set Policy Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "set_access_policy",
        "x-tool-description": "Replace the entire policy configuration of an AI Access rule (POLICY_TYPE_ACCESS). Provide the complete policy object; all existing settings are overwritten.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/ai-access/patch-policy": {
      "patch": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Partially update the policy of an AI Access rule",
        "operationId": "patch_access_policy_mcp_v1_rules_ai_access_patch_policy_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAccessPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Patch Access Policy Mcp V1 Rules Ai Access Patch Policy Patch"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "patch_access_policy",
        "x-tool-description": "Deep-merge partial changes into an AI Access rule's policy. Only the provided fields are updated; omitted fields remain unchanged.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/agents/set-policy": {
      "put": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Replace the entire policy of an Agents rule",
        "operationId": "set_agents_policy_mcp_v1_rules_agents_set_policy_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetMCPServerPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Set Agents Policy Mcp V1 Rules Agents Set Policy Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "set_agents_policy",
        "x-tool-description": "Replace the entire policy configuration of an Agents rule (also known as 'Agents' — POLICY_TYPE_MCP_SERVER). Provide the complete policy object; all existing settings are overwritten.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/agents/patch-policy": {
      "patch": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Partially update the policy of an Agents rule",
        "operationId": "patch_agents_policy_mcp_v1_rules_agents_patch_policy_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMCPServerPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Patch Agents Policy Mcp V1 Rules Agents Patch Policy Patch"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "patch_agents_policy",
        "x-tool-description": "Deep-merge partial changes into an Agents rule's policy. Only the provided fields are updated; omitted fields remain unchanged.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/secure-browsing/set-policy": {
      "put": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Replace the entire policy of a Secure Browsing rule",
        "operationId": "set_secure_browsing_policy_mcp_v1_rules_secure_browsing_set_policy_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetSecureBrowsingPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Set Secure Browsing Policy Mcp V1 Rules Secure Browsing Set Policy Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "set_secure_browsing_policy",
        "x-tool-description": "Replace the entire policy configuration of a Secure Browsing rule (POLICY_TYPE_THREAT_PREVENTION). Provide the complete policy object; all existing settings are overwritten.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/secure-browsing/patch-policy": {
      "patch": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Partially update the policy of a Secure Browsing rule",
        "operationId": "patch_secure_browsing_policy_mcp_v1_rules_secure_browsing_patch_policy_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSecureBrowsingPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Patch Secure Browsing Policy Mcp V1 Rules Secure Browsing Patch Policy Patch"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "patch_secure_browsing_policy",
        "x-tool-description": "Deep-merge partial changes into a Secure Browsing rule's policy. Only the provided fields are updated; omitted fields remain unchanged.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/set-source": {
      "put": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Replace the user/group assignments of a rule",
        "operationId": "set_rule_source_mcp_v1_rules_set_source_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommonSetSourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Set Rule Source Mcp V1 Rules Set Source Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "set_rule_source",
        "x-tool-description": "Replace the full source (user/group assignments) list of a rule. Source entries determine which users or groups the rule applies to. An empty list means the rule applies to everyone (Entire Org). Works for all rule types: Chats, AI Access, Agents, Secure Browsing.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/rules/set-objects": {
      "put": {
        "tags": [
          "MCP Rule Mutations"
        ],
        "summary": "Set (replace) all objects of a rule for a given feature",
        "operationId": "set_rule_objects_mcp_v1_rules_set_objects_put",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "UUID of the rule to update",
              "title": "Rule Id"
            },
            "description": "UUID of the rule to update"
          },
          {
            "name": "feature",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectFeature",
              "description": "Object feature type. Allowed per rule type: DOMAIN_SERVICES (Chats, AI Access), FILE_EMULATION (AI Access), PROTECTED_DOMAINS (Secure Browsing), EXCLUDE_DOMAINS (Secure Browsing)"
            },
            "description": "Object feature type. Allowed per rule type: DOMAIN_SERVICES (Chats, AI Access), FILE_EMULATION (AI Access), PROTECTED_DOMAINS (Secure Browsing), EXCLUDE_DOMAINS (Secure Browsing)"
          },
          {
            "name": "object_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Object UUIDs to attach. Pass empty list to clear all objects for this feature.",
              "title": "Object Ids"
            },
            "description": "Object UUIDs to attach. Pass empty list to clear all objects for this feature."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Set Rule Objects Mcp V1 Rules Set Objects Put"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "set_rule_objects",
        "x-tool-description": "Replace all objects attached to a rule for a specific feature. Pass an empty object_ids list to remove all objects for that feature.\n\nSupported features per rule type:\n- Chats (DLP): DOMAIN_SERVICES\n- AI Access: FILE_EMULATION, DOMAIN_SERVICES\n- Secure Browsing: PROTECTED_DOMAINS, EXCLUDE_DOMAINS\n- Agents: does not support objects",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/objects/file-protection": {
      "get": {
        "tags": [
          "MCP Objects"
        ],
        "summary": "List all file-protection objects",
        "operationId": "list_file_protection_objects_mcp_v1_objects_file_protection_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileProtectionObjectsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "list_file_protection_objects",
        "x-tool-description": "List all file-protection policy objects. These reusable objects define file scanning and emulation settings (download/upload actions, size limits) that can be shared across multiple rules.",
        "x-access-mode": "read"
      },
      "put": {
        "tags": [
          "MCP Objects"
        ],
        "summary": "Update a file protection object",
        "operationId": "update_file_protection_object_mcp_v1_objects_file_protection_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFileProtectionObjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateObjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "update_file_protection_object",
        "x-tool-description": "Update an existing file-protection object. All fields are optional; only provided fields are updated. If object_data is provided, it replaces the existing configuration entirely.",
        "x-access-mode": "write"
      },
      "post": {
        "tags": [
          "MCP Objects"
        ],
        "summary": "Create a file protection object",
        "operationId": "create_file_protection_object_mcp_v1_objects_file_protection_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileProtectionObjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateObjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "create_file_protection_object",
        "x-tool-description": "Create a new file-protection object. Defines file scanning and emulation behavior (upload/download actions, size limits, per-file-type overrides). Once created, attach it to rules via set_rule_objects.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/objects/domains": {
      "get": {
        "tags": [
          "MCP Objects"
        ],
        "summary": "List all domains objects",
        "operationId": "list_domains_objects_mcp_v1_objects_domains_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomainsObjectsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "list_domains_objects",
        "x-tool-description": "List all domains policy objects. These reusable objects define domain allow/block lists that can be shared across multiple rules for domain-based filtering.",
        "x-access-mode": "read"
      },
      "put": {
        "tags": [
          "MCP Objects"
        ],
        "summary": "Update a domains object",
        "operationId": "update_domains_object_mcp_v1_objects_domains_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainsObjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateObjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "update_domains_object",
        "x-tool-description": "Update an existing domains object. All fields are optional; only provided fields are updated. If object_data is provided, it replaces the existing domain list entirely.",
        "x-access-mode": "write"
      },
      "post": {
        "tags": [
          "MCP Objects"
        ],
        "summary": "Create a domains object",
        "operationId": "create_domains_object_mcp_v1_objects_domains_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainsObjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateObjectResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "create_domains_object",
        "x-tool-description": "Create a new domains object containing a list of domain entries for domain-based filtering (allow/block lists). Once created, attach it to rules via set_rule_objects.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/objects/delete": {
      "delete": {
        "tags": [
          "MCP Objects"
        ],
        "summary": "Delete a policy object",
        "operationId": "delete_object_mcp_v1_objects_delete_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "object_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "UUID of the object to delete",
              "title": "Object Id"
            },
            "description": "UUID of the object to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Delete Object Mcp V1 Objects Delete Delete"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "delete_object",
        "x-tool-description": "Permanently delete a policy object (file-protection or domains) by its UUID. Deletion fails with 409 Conflict if the object is still attached to any rule — detach it first using set_rule_objects with an empty list.",
        "x-access-mode": "write"
      }
    },
    "/app/genai-protect-policy/mcp/v1/dlp-datatypes/tenant": {
      "get": {
        "tags": [
          "MCP DLP Datatypes"
        ],
        "summary": "Get tenant DLP datatype configuration",
        "operationId": "get_tenant_dlp_datatypes_mcp_v1_dlp_datatypes_tenant_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDlpTenantDataTypesResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-tool-name": "get_tenant_dlp_datatypes",
        "x-tool-description": "Get the tenant-specific DLP datatype configuration showing which data types are currently enabled for detection in this tenant's policies.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-policy/mcp/v1/dlp-datatypes/search": {
      "get": {
        "tags": [
          "MCP DLP Datatypes"
        ],
        "summary": "Search DLP data types",
        "operationId": "search_dlp_datatypes_mcp_v1_dlp_datatypes_search_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive search on data type name and description",
              "title": "Search"
            },
            "description": "Case-insensitive search on data type name and description"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results per page (max 100)",
              "default": 50,
              "title": "Limit"
            },
            "description": "Number of results per page (max 100)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip for pagination",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DlpDataTypesSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "search_dlp_datatypes",
        "x-tool-description": "Search DLP data types by name or description with pagination. Returns matching data types sorted by name. Use when you need to find specific DLP data type identifiers for policy configuration.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-policy/mcp/v1/simulation/shadow": {
      "get": {
        "tags": [
          "MCP Policy Simulation"
        ],
        "summary": "Analyze rulebase for shadowed rules",
        "operationId": "analyze_shadow_rules_mcp_v1_simulation_shadow_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "policy_type",
            "in": "query",
            "required": true,
            "schema": {
              "enum": [
                "POLICY_TYPE_DLP",
                "POLICY_TYPE_ACCESS",
                "POLICY_TYPE_MCP_SERVER",
                "POLICY_TYPE_PAAS",
                "POLICY_TYPE_THREAT_PREVENTION"
              ],
              "type": "string",
              "description": "Policy type to analyze. Allowed values: POLICY_TYPE_DLP (also known as 'Chats' in AI Security UI), POLICY_TYPE_ACCESS (also known as 'AI Access' or 'Web Access'), POLICY_TYPE_MCP_SERVER (also known as 'Agents'), POLICY_TYPE_PAAS (PaaS environment rules), POLICY_TYPE_THREAT_PREVENTION (also known as 'Secure Browsing')",
              "title": "Policy Type"
            },
            "description": "Policy type to analyze. Allowed values: POLICY_TYPE_DLP (also known as 'Chats' in AI Security UI), POLICY_TYPE_ACCESS (also known as 'AI Access' or 'Web Access'), POLICY_TYPE_MCP_SERVER (also known as 'Agents'), POLICY_TYPE_PAAS (PaaS environment rules), POLICY_TYPE_THREAT_PREVENTION (also known as 'Secure Browsing')"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RuleTag",
              "description": "Rule tag context: 'genai' for AI Security rules, 'browsing' for Browse Security rules, 'general' for product-agnostic rules"
            },
            "description": "Rule tag context: 'genai' for AI Security rules, 'browsing' for Browse Security rules, 'general' for product-agnostic rules"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShadowAnalysisResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "analyze_shadow_rules",
        "x-tool-description": "Find unreachable (shadowed) rules in a rulebase. A rule is shadowed when a higher-priority rule already covers every possible request it could match, making it effectively dead. Returns each shadowed rule with a human-readable explanation of why it is unreachable and which rule shadows it.\n\nPolicy type name mapping (UI name → API value):\n- 'Chats' (AI Security DLP) → POLICY_TYPE_DLP\n- 'AI Access' / 'Web Access' → POLICY_TYPE_ACCESS\n- 'Agents' → POLICY_TYPE_MCP_SERVER\n- 'PaaS' → POLICY_TYPE_PAAS\n- 'Secure Browsing' → POLICY_TYPE_THREAT_PREVENTION",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-policy/mcp/v1/simulation/resolve": {
      "get": {
        "tags": [
          "MCP Policy Simulation"
        ],
        "summary": "Resolve the matching rule for a user and target",
        "operationId": "resolve_matching_rule_mcp_v1_simulation_resolve_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "policy_type",
            "in": "query",
            "required": true,
            "schema": {
              "enum": [
                "POLICY_TYPE_DLP",
                "POLICY_TYPE_ACCESS",
                "POLICY_TYPE_MCP_SERVER",
                "POLICY_TYPE_PAAS",
                "POLICY_TYPE_THREAT_PREVENTION"
              ],
              "type": "string",
              "description": "Policy type to resolve. Allowed: POLICY_TYPE_DLP (also known as 'Chats' in AI Security UI), POLICY_TYPE_ACCESS (also known as 'AI Access' or 'Web Access'), POLICY_TYPE_MCP_SERVER (also known as 'Agents'), POLICY_TYPE_PAAS (PaaS environment rules), POLICY_TYPE_THREAT_PREVENTION (also known as 'Secure Browsing')",
              "title": "Policy Type"
            },
            "description": "Policy type to resolve. Allowed: POLICY_TYPE_DLP (also known as 'Chats' in AI Security UI), POLICY_TYPE_ACCESS (also known as 'AI Access' or 'Web Access'), POLICY_TYPE_MCP_SERVER (also known as 'Agents'), POLICY_TYPE_PAAS (PaaS environment rules), POLICY_TYPE_THREAT_PREVENTION (also known as 'Secure Browsing')"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "User ID to simulate. Required for all types except POLICY_TYPE_PAAS.",
              "title": "User Id"
            },
            "description": "User ID to simulate. Required for all types except POLICY_TYPE_PAAS."
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/RuleTag"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Rule tag context. Required for DLP and ACCESS: 'genai' for AI Security rules, 'browsing' for Browse Security rules. Auto-set for other types.",
              "title": "Tag"
            },
            "description": "Rule tag context. Required for DLP and ACCESS: 'genai' for AI Security rules, 'browsing' for Browse Security rules. Auto-set for other types."
          },
          {
            "name": "dlp_event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/DLPEventType"
                },
                {
                  "type": "null"
                }
              ],
              "description": "DLP event type. Required for POLICY_TYPE_DLP. Concrete values only: file_upload, file_download, paste, prompt, copy. 'any' is rule-side only and is rejected for simulation targets.",
              "title": "Dlp Event Type"
            },
            "description": "DLP event type. Required for POLICY_TYPE_DLP. Concrete values only: file_upload, file_download, paste, prompt, copy. 'any' is rule-side only and is rejected for simulation targets."
          },
          {
            "name": "dlp_data_type_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Data type UUIDs the text violates. Required for POLICY_TYPE_DLP. Pass empty list for 'any text' (no DLP violations). Pass multiple values for multiple IDs.",
              "title": "Dlp Data Type Ids"
            },
            "description": "Data type UUIDs the text violates. Required for POLICY_TYPE_DLP. Pass empty list for 'any text' (no DLP violations). Pass multiple values for multiple IDs."
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Domain name or IPv4 address. Used by DLP and ACCESS — provide exactly one of domain/url/genai_app_id/category_id.",
              "title": "Domain"
            },
            "description": "Domain name or IPv4 address. Used by DLP and ACCESS — provide exactly one of domain/url/genai_app_id/category_id."
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Full URL. Used by DLP and ACCESS — provide exactly one of domain/url/genai_app_id/category_id.",
              "title": "Url"
            },
            "description": "Full URL. Used by DLP and ACCESS — provide exactly one of domain/url/genai_app_id/category_id."
          },
          {
            "name": "genai_app_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "GenAI application ID. Used by DLP and ACCESS — provide exactly one of domain/url/genai_app_id/category_id.",
              "title": "Genai App Id"
            },
            "description": "GenAI application ID. Used by DLP and ACCESS — provide exactly one of domain/url/genai_app_id/category_id."
          },
          {
            "name": "genai_app_account_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Account/org ID within the GenAI app. Optional, only used together with genai_app_id. DLP only — not supported for Access policies.",
              "title": "Genai App Account Id"
            },
            "description": "Account/org ID within the GenAI app. Optional, only used together with genai_app_id. DLP only — not supported for Access policies."
          },
          {
            "name": "category_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "URLF category ID (integer). Used by DLP and ACCESS — provide exactly one of domain/url/genai_app_id/category_id.",
              "title": "Category Id"
            },
            "description": "URLF category ID (integer). Used by DLP and ACCESS — provide exactly one of domain/url/genai_app_id/category_id."
          },
          {
            "name": "environment_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "PaaS environment identifier. Required for POLICY_TYPE_PAAS.",
              "title": "Environment Id"
            },
            "description": "PaaS environment identifier. Required for POLICY_TYPE_PAAS."
          },
          {
            "name": "mcp_client_name_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/MCPClientNameId"
                },
                {
                  "type": "null"
                }
              ],
              "description": "MCP client name identifier. Optional for POLICY_TYPE_MCP_SERVER.",
              "title": "Mcp Client Name Id"
            },
            "description": "MCP client name identifier. Optional for POLICY_TYPE_MCP_SERVER."
          },
          {
            "name": "mcp_client_os",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/OSType"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Operating system filter for MCP client. Optional, used with mcp_client_name_id.",
              "title": "Mcp Client Os"
            },
            "description": "Operating system filter for MCP client. Optional, used with mcp_client_name_id."
          },
          {
            "name": "mcp_server_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "MCP server type (e.g. node_server, remote_server). Optional for POLICY_TYPE_MCP_SERVER.",
              "title": "Mcp Server Type"
            },
            "description": "MCP server type (e.g. node_server, remote_server). Optional for POLICY_TYPE_MCP_SERVER."
          },
          {
            "name": "mcp_server_identifier",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "MCP server identifier (package/module/URL/domain/image). Optional for POLICY_TYPE_MCP_SERVER.",
              "title": "Mcp Server Identifier"
            },
            "description": "MCP server identifier (package/module/URL/domain/image). Optional for POLICY_TYPE_MCP_SERVER."
          },
          {
            "name": "mcp_tool_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tool name to simulate. Optional for POLICY_TYPE_MCP_SERVER.",
              "title": "Mcp Tool Name"
            },
            "description": "Tool name to simulate. Optional for POLICY_TYPE_MCP_SERVER."
          },
          {
            "name": "mcp_operation",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "CRUD operation (CREATE/READ/UPDATE/DELETE/OTHER). Optional for POLICY_TYPE_MCP_SERVER.",
              "title": "Mcp Operation"
            },
            "description": "CRUD operation (CREATE/READ/UPDATE/DELETE/OTHER). Optional for POLICY_TYPE_MCP_SERVER."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "resolve_matching_rule",
        "x-tool-description": "Given a user and target, determine which rule in the rulebase would apply. Simulates policy evaluation to find the single winning rule.\n\nPolicy type name mapping (UI name → API value):\n- 'Chats' (AI Security DLP) → POLICY_TYPE_DLP\n- 'AI Access' / 'Web Access' → POLICY_TYPE_ACCESS\n- 'Agents' → POLICY_TYPE_MCP_SERVER\n- 'PaaS' → POLICY_TYPE_PAAS\n- 'Secure Browsing' → POLICY_TYPE_THREAT_PREVENTION\n\nRequired params per policy_type:\n- POLICY_TYPE_DLP (Chats): user_id, tag, dlp_event_type, dlp_data_type_ids, and ONE of domain/url/genai_app_id/category_id. genai_app_account_id is optional (DLP only).\n- POLICY_TYPE_ACCESS: user_id, tag, and ONE of domain/url/genai_app_id/category_id. NOTE: genai_app_account_id is NOT supported for Access.\n- POLICY_TYPE_MCP_SERVER (Agents): user_id, and optionally mcp_client_name_id/mcp_server_type/mcp_server_identifier/mcp_tool_name/mcp_operation\n- POLICY_TYPE_PAAS: environment_id only (no user_id)\n- POLICY_TYPE_THREAT_PREVENTION (Secure Browsing): user_id only\n\nReturns the matched rule's ID, name, and priority order, or null if no rule matches.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-assets/mcp/v1/assets": {
      "get": {
        "tags": [
          "MCP Assets"
        ],
        "summary": "Search deployed assets with filters, sorting, and pagination",
        "operationId": "search_assets_mcp_v1_assets_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Free text search across device name and user name",
              "title": "Search"
            },
            "description": "Free text search across device name and user name"
          },
          {
            "name": "filter_field",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated field names to filter on. Options: device_name, device_sid, device_state, device_uninstall_time, device_created_at, device_updated_at, user_name, user_display_name, user_samname, user_created_at, user_updated_at, last_connected, os, os_version, device_type, ip, installer_version, chrome_extension_version, firefox_extension_version, edge_extension_version, brave_extension_version, mcp_version, proxy_version",
              "title": "Filter Field"
            },
            "description": "Comma-separated field names to filter on. Options: device_name, device_sid, device_state, device_uninstall_time, device_created_at, device_updated_at, user_name, user_display_name, user_samname, user_created_at, user_updated_at, last_connected, os, os_version, device_type, ip, installer_version, chrome_extension_version, firefox_extension_version, edge_extension_version, brave_extension_version, mcp_version, proxy_version"
          },
          {
            "name": "filter_operator",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated operators, one per filter_field. Text fields: equals, in, contains. Date fields: gte, lte, between. Enum fields (os, device_type): equals, in.",
              "title": "Filter Operator"
            },
            "description": "Comma-separated operators, one per filter_field. Text fields: equals, in, contains. Date fields: gte, lte, between. Enum fields (os, device_type): equals, in."
          },
          {
            "name": "filter_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated single values, one per filter_field. Used with equals, contains, gte, lte operators.",
              "title": "Filter Value"
            },
            "description": "Comma-separated single values, one per filter_field. Used with equals, contains, gte, lte operators."
          },
          {
            "name": "filter_values",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Multi-value filters for 'in' and 'between' operators. Semicolon-separated per filter, comma-separated per value within. Example for two filters: 'windows,linux;2024-01-01,2024-12-31'",
              "title": "Filter Values"
            },
            "description": "Multi-value filters for 'in' and 'between' operators. Semicolon-separated per filter, comma-separated per value within. Example for two filters: 'windows,linux;2024-01-01,2024-12-31'"
          },
          {
            "name": "sort_field",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated field names to sort by (same options as filter_field)",
              "title": "Sort Field"
            },
            "description": "Comma-separated field names to sort by (same options as filter_field)"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated sort orders, one per sort_field. Options: asc, desc (default: desc)",
              "title": "Sort Order"
            },
            "description": "Comma-separated sort orders, one per sort_field. Options: asc, desc (default: desc)"
          },
          {
            "name": "joins",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated domains to include in the response. Options: users, pings, deployment, policy, status, environment. Omit to return device info only.",
              "title": "Joins"
            },
            "description": "Comma-separated domains to include in the response. Options: users, pings, deployment, policy, status, environment. Omit to return device info only."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Number of results per page (max 1000)",
              "default": 50,
              "title": "Limit"
            },
            "description": "Number of results per page (max 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip for pagination",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "search_assets",
        "x-tool-description": "Search deployed assets (endpoints/devices) with optional filtering, sorting, text search, and pagination. Returns device info, user, deployment status, health, and policy versions.\n\n**Filtering:** Use filter_field, filter_operator, and filter_value as comma-separated lists (positionally matched). For multi-value operators (in, between) use filter_values with semicolons between filters and commas between values.\n\nAvailable fields: device_name, device_sid, device_state, device_uninstall_time, device_created_at, device_updated_at, user_name, user_display_name, user_samname, user_created_at, user_updated_at, last_connected, os, os_version, device_type, ip, installer_version, chrome_extension_version, firefox_extension_version, edge_extension_version, brave_extension_version, mcp_version, proxy_version.\n\nOperators: equals, not_equals, in, not_in, contains (text fields), gte, lte, between (date fields). Enum fields (device_state): equals, not_equals, in, not_in. Values: valid, deleted. Use not_equals / not_in to exclude specific values (e.g. filter_operator=not_in&filter_values=Windows,macOS).\n\n**Sorting:** Use sort_field and sort_order as comma-separated lists.\n\n**Search:** Free text search across device name and user name.\n\nExamples:\n- Filter by OS: filter_field=os&filter_operator=equals&filter_value=windows\n- Multiple filters: filter_field=os,device_name&filter_operator=equals,contains&filter_value=windows,laptop\n- Sort by name: sort_field=device_name&sort_order=asc\n- Text search: search=john",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-assets/mcp/v1/assets/count": {
      "get": {
        "tags": [
          "MCP Assets"
        ],
        "summary": "Count deployed assets with optional filters",
        "operationId": "count_assets_mcp_v1_assets_count_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Free text search across device name and user name",
              "title": "Search"
            },
            "description": "Free text search across device name and user name"
          },
          {
            "name": "filter_field",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated field names to filter on",
              "title": "Filter Field"
            },
            "description": "Comma-separated field names to filter on"
          },
          {
            "name": "filter_operator",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated operators, one per filter_field",
              "title": "Filter Operator"
            },
            "description": "Comma-separated operators, one per filter_field"
          },
          {
            "name": "filter_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated single values, one per filter_field",
              "title": "Filter Value"
            },
            "description": "Comma-separated single values, one per filter_field"
          },
          {
            "name": "filter_values",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Multi-value filters (semicolon-separated per filter, comma-separated per value)",
              "title": "Filter Values"
            },
            "description": "Multi-value filters (semicolon-separated per filter, comma-separated per value)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsCountResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "count_assets",
        "x-tool-description": "Get the total count of deployed assets, optionally filtered. Supports the same filter_field, filter_operator, filter_value, filter_values and search params as search_assets. Useful for dashboards and summaries.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-assets/mcp/v1/users": {
      "get": {
        "tags": [
          "MCP Users"
        ],
        "summary": "Search users",
        "operationId": "search_users_mcp_v1_users_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive search on user name and display name",
              "title": "Search"
            },
            "description": "Case-insensitive search on user name and display name"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of results per page (max 100)",
              "default": 50,
              "title": "Limit"
            },
            "description": "Number of results per page (max 100)"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip for pagination",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "search_users",
        "x-tool-description": "Search users in the organization with optional text search and pagination. Returns user IDs, names, display names, and SAM account names. Use when you need to find user identifiers for policy rule assignments.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-apps/mcp/v1/apps/search": {
      "get": {
        "tags": [
          "MCP Apps Catalog"
        ],
        "summary": "Search GenAI apps catalog",
        "operationId": "search_apps_mcp_v1_apps_search_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200,
              "description": "Search term (app name, description, or URL)",
              "title": "Search"
            },
            "description": "Search term (app name, description, or URL)"
          },
          {
            "name": "search_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SearchBy",
              "description": "Search mode: 'name' matches app name only, 'name_and_description' matches both, 'url' matches app URL",
              "default": "name"
            },
            "description": "Search mode: 'name' matches app name only, 'name_and_description' matches both, 'url' matches app URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "search_apps",
        "x-tool-description": "Search the GenAI apps catalog by name, description, or URL. Returns up to 10 matching apps with their ID, name, description, and page URL. Use this to find app IDs needed for AI Access policy rules.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-apps/mcp/v1/apps/by-ids": {
      "get": {
        "tags": [
          "MCP Apps Catalog"
        ],
        "summary": "Get GenAI apps by IDs",
        "operationId": "get_apps_by_ids_mcp_v1_apps_by_ids_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma-separated list of app IDs (e.g. '123,456,789'). Max 100 IDs.",
              "title": "Ids"
            },
            "description": "Comma-separated list of app IDs (e.g. '123,456,789'). Max 100 IDs."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsByIdsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "get_apps_by_ids",
        "x-tool-description": "Get specific GenAI apps from the catalog by their numeric IDs. Pass a comma-separated list of app IDs. Returns app details including name, description, and page URL.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-discovery/mcp/v1/discovery/applications": {
      "get": {
        "tags": [
          "MCP Application Discovery"
        ],
        "summary": "List discovered GenAI applications",
        "operationId": "get_discovered_applications_mcp_v1_discovery_applications_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start of the time range, ISO 8601 (e.g. 2026-05-01T00:00:00Z).",
              "title": "From Date"
            },
            "description": "Start of the time range, ISO 8601 (e.g. 2026-05-01T00:00:00Z)."
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End of the time range, ISO 8601 (e.g. 2026-06-01T00:00:00Z).",
              "title": "To Date"
            },
            "description": "End of the time range, ISO 8601 (e.g. 2026-06-01T00:00:00Z)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveredApplicationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "get_discovered_applications",
        "x-tool-description": "List the GenAI applications (e.g. ChatGPT, Claude, Gemini) that users in the tenant were seen using between from_date and to_date. For each app returns aggregated usage: total sessions, sessions with risk, distinct users, sensitive-content detections, use-case count, app type (Web/Desktop), and the catalog app id when known. Use this to inventory Shadow-AI application usage.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-discovery/mcp/v1/discovery/applications/top": {
      "get": {
        "tags": [
          "MCP Application Discovery"
        ],
        "summary": "Get top discovered applications by sessions",
        "operationId": "get_top_discovered_applications_mcp_v1_discovery_applications_top_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start of the time range, ISO 8601 (e.g. 2026-05-01T00:00:00Z).",
              "title": "From Date"
            },
            "description": "Start of the time range, ISO 8601 (e.g. 2026-05-01T00:00:00Z)."
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End of the time range, ISO 8601 (e.g. 2026-06-01T00:00:00Z).",
              "title": "To Date"
            },
            "description": "End of the time range, ISO 8601 (e.g. 2026-06-01T00:00:00Z)."
          },
          {
            "name": "top_n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "How many top applications to return.",
              "default": 5,
              "title": "Top N"
            },
            "description": "How many top applications to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopDiscoveredApplicationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "get_top_discovered_applications",
        "x-tool-description": "Return the top_n GenAI applications by session count between from_date and to_date. Each entry includes a per-bucket session sparkline (the 'trends' array of {time_bucket, sessions}) and the change vs the previous equal-length period. Use this to see the most-used apps and whether usage is rising or falling.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-discovery/mcp/v1/discovery/agents/overview": {
      "get": {
        "tags": [
          "MCP Application Discovery"
        ],
        "summary": "Get agents overview",
        "operationId": "get_agents_overview_mcp_v1_discovery_agents_overview_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start of the time range, ISO 8601 (e.g. 2026-05-01T00:00:00Z).",
              "title": "From Date"
            },
            "description": "Start of the time range, ISO 8601 (e.g. 2026-05-01T00:00:00Z)."
          },
          {
            "name": "to_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "End of the time range, ISO 8601 (e.g. 2026-06-01T00:00:00Z).",
              "title": "To Date"
            },
            "description": "End of the time range, ISO 8601 (e.g. 2026-06-01T00:00:00Z)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentsOverviewResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-tool-name": "get_agents_overview",
        "x-tool-description": "High-level summary of agentic (MCP) activity for the tenant between from_date and to_date: the number of active AI agents and the number of discovered MCP servers, each with the absolute and percentage change vs the previous period. Use this for a quick view of MCP adoption and its trend.",
        "x-access-mode": "read"
      }
    },
    "/app/genai-protect-discovery/mcp/v1/discovery/agents/top-platforms": {
      "get": {
        "tags": [
          "MCP Application Discovery"
        ],
        "summary": "Get top MCP platforms by invocations",
        "operationId": "get_agents_top_platforms_mcp_v1_discovery_agents_top_platforms_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Start of the time range, ISO 8601 (e.g. 2026-05-01T00:00:00Z).",
              "title": "From Date"
            },
            "description": "Start of the time range, ISO 8601 (e.g. 2026-05-01T00:00:00Z)."
          },
          {
            "name": "to_date",
            "in": "query",
[...]
